main {
  overflow: auto;
  padding: 3% 7%;
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.container {
  background-color: var(--secondary-color);
  height: 500px;
  width: 100%;
  border-radius: 20px;
  padding: 2%;
  overflow: hidden;
}

input[type="file"] {
  display: none;
}

input,
.file-label {
  border-radius: 10px;
  height: 10%;
  flex: 1 1 50%;
  background-color: white;
  border: 1px solid black;
}

.file-label {
  display: flex;
  justify-content: space-around;
}

form {
  display: flex;
  flex-wrap: wrap;
  background-color: red;
  height: 80%;
  padding: 0 2%;
}
