main {
  /* overflow: auto; */
  padding: 3% 7%;
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.container {
  background-color: var(--secondary-color);
  height: 500px;
  width: 100%;
  border-radius: 20px;
  padding: 2%;
  overflow: hidden;
}

input[type="file"] {
  display: none;
}

input,
.file-label {
  border-radius: 10px;
  height: 10%;
  flex: 1 1 50%;
  background-color: white;
  border: 1px solid black;
}

.file-label {
  display: flex;
  justify-content: space-around;
}

form {
  display: flex;
  flex-wrap: wrap;
  background-color: red;
  height: 80%;
  padding: 0 2%;
}

/* List of Cars */
.flex-table {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 15px;
  gap: 20px;
  text-align: center;
  height: 70%;
  overflow-x: hidden;
  overflow-y: auto;
}

.flex-row:nth-child(n + 2) {
  background-color: var(--a-table-body);
  padding: 10px;
  border-radius: 50px;
  height: 60px;
  align-items: center;
  font-size: 15px;
}

.flex-row {
  display: flex;
}

.flex-cell {
  flex: 1;
  padding: 8px;
}

.flex-cell img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
}
