main {
  display: flex;
  /* background-color: green; */
  width: 100%;
  height: calc(100% - var(--header-height));
}
.left-column {
  flex: 1 1 25%;
  padding: 20px;
  color: white;
}

.right-column {
  flex: 1 1 75%;
  overflow-x: hidden;
}
.left-column img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
  object-position: center;
  margin-bottom: 20px;
}
.left-column ul {
  color: white;
}

.tab-button {
  background-color: #f3f3f3; /* Light gray background for inactive buttons */
  border: none;
  padding: 10px 20px;
  margin: 5px;
  cursor: pointer;
}

.tab-button.active {
  background-color: #4caf50;
  color: white;
}

#rentHistory,
#carListed {
  background-color: var(--profile-color);
  height: 90%;
  border-radius: 10px;
}
