/* :before,
:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --primary-key: #DBD8E3;
  --secondary-color: #5C5470;

}
body {
  background-color: var(--primary-key);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
header {
  visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 10%;
  padding-inline-start: 2%;
}
#logo {
   visibility: hidden;
  max-width: 300px;
  width: 45%;
  height: auto;
}

form {
  background-color: var(--secondary-color);
  display: flex;
  flex-flow: column wrap;
  gap: 10px
}
input {
  width: 300px;
  height: 30px;
} */
