:root {
  --a-view-btn: #3d79ec;
  --a-accept-btn: #58d839;
  --a-reject-btn: #e04b41;
}

.view-btn {
  background-color: var(--a-view-btn);
}
.accept-btn {
  background-color: var(--a-accept-btn);
}
.reject-btn {
  background-color: var(--a-reject-btn);
}

.accept-btn, .view-btn, .reject-btn {
  border-radius: 20px;
  border: none;
  padding: 7px; 
  cursor: pointer;
  width: 100%;
  color: rgb(241, 241, 241);
}

#signup-btn {
  background-color: #6ACE59;
  padding: 5px;
  border-radius: 10px;
  width: 20%;
  height: 50px;
  font-weight: bold;
  border: 1px solid black;
}

#rent-button {
  text-decoration: none;
  color: white;
  border-radius: 10px;
  background-color: var(--rent-button);
  padding: 1% 10%;
}

